[submodule "Libraries/loguru"]
	path = Libraries/loguru
	url = https://github.com/emilk/loguru.git
	branch = master
[submodule "Libraries/metal-cpp"]
	path = Libraries/metal-cpp
	url = https://github.com/LeeTeng2001/metal-cpp-cmake.git
	branch = main
